.ax-collapse {
  max-height: 0;
  overflow-y: hidden;
  pointer-events: none;
  transition-duration: var(--AwesomeCSSAnimationsTransitionDuration);
  will-change: height;

  &.ax-active {
    max-height: var(--AwesomeCSSAnimationsCollapseMaxHeight);
    pointer-events: auto;
    transition-duration: calc(var(--AwesomeCSSAnimationsTransitionDuration) * 2);
  }

  &--lg {
    &.ax-active {
      max-height: var(--AwesomeCSSAnimationsCollapseLgMaxHeight);
    }
  }
}
