.ax-collapse {
  max-height: 0;
  overflow-y: hidden;
  pointer-events: none;
  transition-duration: var(--AwesCSSAnimDuration);
  will-change: height;

  &.ax-active {
    max-height: var(--AwesCSSAnimCollapseMaxHeight);
    pointer-events: auto;
    transition-duration: calc(var(--AwesCSSAnimDuration) * 2);
  }

  &--lg {
    &.ax-active {
      max-height: var(--AwesCSSAnimCollapseLgMaxHeight);
    }
  }
}
