@import './__mixin.renderAnimation';

@include renderAnimation(down,
  (
    transform: translateY(calc(var(--AwesCSSAnimDirValue) * -1)),
  ),
  (
    transform: translateY(0px),
  )
);
// Variations
@include renderAnimation(downLg,
  (
    transform: translateY(calc(var(--AwesCSSAnimDirLgValue) * -1)),
  ),
  (
    transform: translateY(0px),
  )
);
@include renderAnimation(downXl,
  (
    transform: translateY(calc(var(--AwesCSSAnimDirXlValue) * -1)),
  ),
  (
    transform: translateY(0px),
  )
);
