@import './__mixin.renderAnimation';

@include renderAnimation(left,
  (
    transform: translateX(var(--AwesomeCSSAnimationsDirectionValue)),
  ),
  (
    transform: translateX(0px),
  )
);
// Variations
@include renderAnimation(leftLg,
  (
    transform: translateX(var(--AwesomeCSSAnimationsDirectionLgValue)),
  ),
  (
    transform: translateX(0px),
  )
);
@include renderAnimation(leftXl,
  (
    transform: translateX(var(--AwesomeCSSAnimationsDirectionXlValue)),
  ),
  (
    transform: translateX(0px),
  )
);
