@import './__mixin.renderAnimation';

@include renderAnimation(right,
  (
    transform: translateX(calc(var(--AwesCSSAnimDirValue) * -1)),
  ),
  (
    transform: translateX(0px),
  )
);
// Variations
@include renderAnimation(rightLg,
  (
    transform: translateX(calc(var(--AwesCSSAnimDirLgValue) * -1)),
  ),
  (
    transform: translateX(0px),
  )
);
@include renderAnimation(rightXl,
  (
    transform: translateX(calc(var(--AwesCSSAnimDirXlValue) * -1)),
  ),
  (
    transform: translateX(0px),
  )
);
