@import './__mixin.renderAnimation';

@include renderAnimation(scale,
  (
    transform: scale(var(--AwesCSSAnimScaleValue)),
  ),
  (
    transform: scale(1),
  )
);
// Variations
@include renderAnimation(scaleLg,
  (
    transform: scale(var(--AwesCSSAnimScaleLgValue)),
  ),
  (
    transform: scale(1),
  )
);
@include renderAnimation(scaleXl,
  (
    transform: scale(var(--AwesCSSAnimScaleXlValue)),
  ),
  (
    transform: scale(1),
  )
);
