@import './__mixin.renderAnimation';

@include renderAnimation(up,
  (
    transform: translateY(var(--AwesomeCSSAnimationsDirectionValue)),
  ),
  (
    transform: translateY(0px),
  )
);
// Variations
@include renderAnimation(upLg,
  (
    transform: translateY(var(--AwesomeCSSAnimationsDirectionLgValue)),
  ),
  (
    transform: translateY(0px),
  )
);
@include renderAnimation(upXl,
  (
    transform: translateY(var(--AwesomeCSSAnimationsDirectionXlValue)),
  ),
  (
    transform: translateY(0px),
  )
);
