@import './__mixin.renderAnimation';

@include renderAnimation(up,
  (
    transform: translateY(var(--AwesCSSAnimDirValue)),
  ),
  (
    transform: translateY(0px),
  )
);
// Variations
@include renderAnimation(upLg,
  (
    transform: translateY(var(--AwesCSSAnimDirLgValue)),
  ),
  (
    transform: translateY(0px),
  )
);
@include renderAnimation(upXl,
  (
    transform: translateY(var(--AwesCSSAnimDirXlValue)),
  ),
  (
    transform: translateY(0px),
  )
);
