@import '../_utilities/computedTransitionDelay';

.ax-NodeList {
  & > * {
    transition-property: all;
    transition-duration: var(--AwesomeCSSAnimationsTransitionDuration);
    transition-timing-function: ease;
  }
}

@for $i from 1 to (30 + 1) {
  .ax-NodeList.ax-stagger.ax-active,
  .ax-hydrate.ax-active .ax-NodeList.ax-stagger {
    & > * {
      &:nth-child(#{$i}) {
        transition-delay: computedTransitionDelay($i);
      }
    }
  }
}
