.ax-Node {
  transition-property: all;
  transition-delay: var(--AwesomeCSSAnimationsTransitionDelay);
  transition-duration: var(--AwesomeCSSAnimationsTransitionDuration);
  transition-timing-function: ease;
}
