@import '../_utilities/computedTransitionDelay';

$axStaggerCountLimit: 15;

.ax-stagger {
  & > * {
    transition-delay: computedTransitionDelay();

    &:nth-child(n+#{$axStaggerCountLimit}) {
      --nIndex: $axStaggerCountLimit - 1;
    }
  }
}

.ax-stagger.ax-active,
.ax-hydrate.ax-active .ax-stagger {
  & > * {
    @for $i from 1 to ($axStaggerCountLimit + 1) {
      &:nth-child(#{$i}) {
        --nIndex: $i - 1;
      }
    }
  }
}

.ax-stagger:not(.ax-active) > *,
.ax-hydrate:not(.ax-active) .ax-stagger > * {
  --nIndex: 0;
}
