:root {
  // General:
  --AwesomeCSSAnimationsTransitionDelay: 0;
  --AwesomeCSSAnimationsTransitionDuration: 300ms;
  --AwesomeCSSAnimationsStaggerDelay: 60;

  // Sequences:
  --AwesomeCSSAnimationsCollapseMaxHeight: 100vh;
  --AwesomeCSSAnimationsCollapseLgMaxHeight: 100em;
  --AwesomeCSSAnimationsDirectionValue: 20px;
  --AwesomeCSSAnimationsDirectionLgValue: 20%;
  --AwesomeCSSAnimationsDirectionXlValue: 50%;
  --AwesomeCSSAnimationsScaleValue: 0.8;
  --AwesomeCSSAnimationsScaleLgValue: 0.5;
  --AwesomeCSSAnimationsScaleXlValue: 0.3;
}
