:root {
  // General:
  --AwesCSSAnimDelay: 0;
  --AwesCSSAnimDuration: 300ms;
  --AwesCSSAnimStaggerDelay: 60;

  // Sequences:
  --AwesCSSAnimCollapseMaxHeight: 100vh;
  --AwesCSSAnimCollapseLgMaxHeight: 100em;
  --AwesCSSAnimDirValue: 20px;
  --AwesCSSAnimDirLgValue: 20%;
  --AwesCSSAnimDirXlValue: 50%;
  --AwesCSSAnimScaleValue: 0.8;
  --AwesCSSAnimScaleLgValue: 0.5;
  --AwesCSSAnimScaleXlValue: 0.3;
}
